body {
    font-family: sans-serif;
    margin: 0;
    background-color: #181818;
    overflow: hidden;
    color: white;
}

header {
    text-align: center;
    padding: 20px 0;
}

#suquinho {
    color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    user-select: none; /* Impede a seleção de texto */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 20px;
}

.grid-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: #282828;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-decoration: none;
    color: white;
    outline: none;
    -webkit-tap-highlight-color: transparent; /* Remove o destaque ao tocar */
}

.grid-item i {
    font-size: 24px;
}

.grid-item:hover {
    background-color: #383838;
    transform: scale(1.1);
}

.grid-item.animate {
    opacity: 1;
}

.profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
