body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0f0f0f;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.icons {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Centraliza os botões verticalmente */
    height: 100vh; /* Garante que os botões ocupem toda a altura da tela */
    gap: 20px; /* Reduz o gap para melhor adaptação em telas menores */
}

.icons a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%; /* Ajusta a largura para que dois botões caibam em uma linha */
    height: 120px;
    border-radius: 50%;
    background-color: #272727;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
    margin: 2.5%; /* Adiciona margem para espaçamento entre os botões */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icons a {
    animation: fadeInUp 2s ease forwards;
}

.icons a:nth-child(1) {
    animation-delay: 0.2s;
}

.icons a:nth-child(2) {
    animation-delay: 0.4s;
}

.icons img, .icons i {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i {
    font-size: 50px;
}

@media (max-width: 600px) {
    .icons {
        gap: 10px; /* Reduz ainda mais o gap em telas menores */
    }
    .icons a {
        width: 45%; /* Mantém a largura de 45% para telas menores */
        height: 100px;
        margin: 2.5%; /* Mantém a margem para espaçamento em telas menores */
    }
    .icons img, .icons i {
        width: 50px;
        height: 50px;
    }
    .icons i {
        font-size: 40px;
    }
}
